@import './base.css';

/* ------------Responsive------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #offcanvasDarkNavbar > div.offcanvas-body > ul{
        align-items: center;
    }
    #offcanvasDarkNavbar > div.offcanvas-body > form{
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}